/* css properties */

/* primary color variable */

$primary-color:Orangered;
$bg-color: whitesmoke;
$link-color: blue;

/* general elements property */

body {
    background-color: black;
    margin: 5%;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

h1,
h2,
h5,
p {
    text-align: center;
    word-wrap: break-word;
}

i {
    color: $link-color;
    padding: .5em;
}

hr {
    width: 15px;
    height: 15px;
    border: none;
    background: $primary-color;
    color: $primary-color;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer {
    text-align: center;
    color: black;
    padding: 1rem;
}

ul {
    display: inline-block;
    list-style-type: square;
    list-style-position: inside;
    text-align: left;

}


ol {
    display: inline-block;
    text-align: center;
}

img.displayed {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}


/* container class property */

.container {
    background-color: $bg-color;
    text-align: center;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
}

/* Navigation related classes and properties */

.nav-bar {
    position: sticky;
    top: 0;
    background-color: black;
    overflow: hidden;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.nav-bar a {

    text-align: right;
    color: $bg-color;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-bar a:hover {
    background-color: gray;
}

/* nested banner */

.banner {
    position: relative;
    top: 0;
    text-align: center;
    color: black;

    #{&}_text {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: cursive;
        font-size: larger;
        color: $bg-color;
        padding: auto;
    }
}

.banner img {
    position: relative;
    width: 100%;
}

/* misc properties used */

.social-icon {
    text-align: center;
}

.center {
    text-align: center;
}

.text-warning {
    color: $primary-color;
}
